/*
 * QHeaderView
 */
QHeaderView::section
{
    padding: 4px;
}

/*
 * QToolTip
 */
QToolTip
{
    font-size: 12px;
}

/*
 * QTabBar
 */
QTabBar::tab
{
    padding-left: 5px;
    padding-right: 10px;
    min-height: 18px;
}

#toolBoxLibrary
{
    margin-top: -2px;
}

/*
 * OscTimeWidget
 */
#labelOscTime
{
    font-size: 12px;
}
