<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Caspar_Pilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Caspar_Pilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
		<Caspar_Pilot.Properties.Settings>
   <setting name="TemplateFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="TemplateColor" serializeAs="String">
    <value>LightBlue</value>
   </setting>
   <setting name="GraphicColor" serializeAs="String">
    <value>LightGreen</value>
   </setting>
   <setting name="MultistepColor" serializeAs="String">
    <value>CornflowerBlue</value>
   </setting>
   <setting name="DefaultFieldNamePrefix" serializeAs="String">
    <value>f</value>
   </setting>
   <setting name="DefaultFieldNameStartIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PreviewBackgroundColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="StoredDataColor" serializeAs="String">
    <value>Plum</value>
   </setting>
   <setting name="ControlColor" serializeAs="String">
    <value>LightGray</value>
   </setting>
   <setting name="EnablePreview" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableTemplateData" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableOutputSettings" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DataUpdateColor" serializeAs="String">
    <value>Plum</value>
   </setting>
   <setting name="ShortcutKeyLoad" serializeAs="String">
    <value>F8</value>
   </setting>
   <setting name="ShortcutKeyPlay" serializeAs="String">
    <value>F12</value>
   </setting>
   <setting name="ShortcutKeyStep" serializeAs="String">
    <value>F11</value>
   </setting>
   <setting name="ShortcutKeyUpdate" serializeAs="String">
    <value>F7</value>
   </setting>
   <setting name="ShortcutKeyStop" serializeAs="String">
    <value>F9</value>
   </setting>
   <setting name="ShortcutKeyClearLayer" serializeAs="String">
    <value>Ctrl+F6</value>
   </setting>
   <setting name="ShortcutKeyClearChannel" serializeAs="String">
    <value>Ctrl+Alt+F6</value>
   </setting>
   <setting name="Channels" serializeAs="Xml">
    <value>
     <ArrayOfChannelInformation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <ChannelInformation>
       <Label>localhost</Label>
       <Hostname>localhost</Hostname>
       <Port>5250</Port>
       <Channel>1</Channel>
       <Online>false</Online>
       <ArgbValue>-1</ArgbValue>
      </ChannelInformation>
     </ArrayOfChannelInformation>
    </value>
   </setting>
   <setting name="ShortcutKeyReloadOfflineTemplates" serializeAs="String">
    <value>Alt+M</value>
   </setting>
   <setting name="ShortcutKeyReloadTemplates" serializeAs="String">
    <value>Ctrl+M</value>
   </setting>
   <setting name="ShortcutKeyReloadGraphics" serializeAs="String">
    <value>Ctrl+G</value>
   </setting>
   <setting name="ShortcutKeyClearAll" serializeAs="String">
    <value>None</value>
   </setting>
  </Caspar_Pilot.Properties.Settings>
	</userSettings>
 <applicationSettings>
  <Caspar_Pilot.Properties.Settings>
   <setting name="SpyderSettings" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Recall preset#RSC</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="SpyderPort" serializeAs="String">
    <value>11116</value>
   </setting>
   <setting name="SpyderIp" serializeAs="String">
    <value>10.23.52.206</value>
   </setting>
   <setting name="EnableVideoLayers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableControlValues" serializeAs="String">
    <value>False</value>
   </setting>
  </Caspar_Pilot.Properties.Settings>
 </applicationSettings>
</configuration>
