/*
 * MainWindow
 */
#MainWindow > #centralWidget
{
    background-color: rgba(64, 64, 64, 255);
    border-bottom-color: rgba(42, 42, 42, 255);
    border-bottom-width: 1px;
    border-radius: 0px;
}
#toolButtonCtrlStop
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlStopSmall.png);
}
#toolButtonCtrlStop:hover
{
    image: url(:/Graphics/Images/CtrlStopSmallHover.png);
}
#toolButtonCtrlPlay
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlPlaySmall.png);
}
#toolButtonCtrlPlay:hover
{
    image: url(:/Graphics/Images/CtrlPlaySmallHover.png);
}
#toolButtonCtrlLoad
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlLoadSmall.png);
}
#toolButtonCtrlLoad:hover
{
    image: url(:/Graphics/Images/CtrlLoadSmallHover.png);
}
#toolButtonCtrlPause
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlPauseSmall.png);
}
#toolButtonCtrlPause:hover
{
    image: url(:/Graphics/Images/CtrlPauseSmallHover.png);
}
#toolButtonCtrlNext
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlNextSmall.png);
}
#toolButtonCtrlNext:hover
{
    image: url(:/Graphics/Images/CtrlNextSmallHover.png);
}
#toolButtonCtrlUpdate
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlUpdateSmall.png);
}
#toolButtonCtrlUpdate:hover
{
    image: url(:/Graphics/Images/CtrlUpdateSmallHover.png);
}
#toolButtonCtrlInvoke
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlInvokeSmall.png);
}
#toolButtonCtrlInvoke:hover
{
    image: url(:/Graphics/Images/CtrlInvokeSmallHover.png);
}
#toolButtonCtrlClear
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlClearSmall.png);
}
#toolButtonCtrlClear:hover
{
    image: url(:/Graphics/Images/CtrlClearSmallHover.png);
}
#toolButtonCtrlClearVideolayer
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlClearVideolayerSmall.png);
}
#toolButtonCtrlClearVideolayer:hover
{
    image: url(:/Graphics/Images/CtrlClearVideolayerSmallHover.png);
}
#toolButtonCtrlClearChannel
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CtrlClearChannelSmall.png);
}
#toolButtonCtrlClearChannel:hover
{
    image: url(:/Graphics/Images/CtrlClearChannelSmallHover.png);
}
#toolButtonAudio
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/AudioSmall.png);
}
#toolButtonAudio:hover
{
    image: url(:/Graphics/Images/AudioSmallHover.png);
}
#toolButtonImage
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/StillSmall.png);
}
#toolButtonImage:hover
{
    image: url(:/Graphics/Images/StillSmallHover.png);
}
#toolButtonImageScroller
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/ImageScrollerSmall.png);
}
#toolButtonImageScroller:hover
{
    image: url(:/Graphics/Images/ImageScrollerSmallHover.png);
}
#toolButtonTemplate
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/TemplateSmall.png);
}
#toolButtonTemplate:hover
{
    image: url(:/Graphics/Images/TemplateSmallHover.png);
}
#toolButtonVideo
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/MovieSmall.png);
}
#toolButtonVideo:hover
{
    image: url(:/Graphics/Images/MovieSmallHover.png);
}
#toolButtonBlendMode
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/BlendModeSmall.png);
}
#toolButtonBlendMode:hover
{
    image: url(:/Graphics/Images/BlendModeSmallHover.png);
}
#toolButtonBrightness
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/BrightnessSmall.png);
}
#toolButtonBrightness:hover
{
    image: url(:/Graphics/Images/BrightnessSmallHover.png);
}
#toolButtonContrast
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/ContrastSmall.png);
}
#toolButtonContrast:hover
{
    image: url(:/Graphics/Images/ContrastSmallHover.png);
}
#toolButtonCrop
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CropSmall.png);
}
#toolButtonCrop:hover
{
    image: url(:/Graphics/Images/CropSmallHover.png);
}
#toolButtonGeometry
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/GeometrySmall.png);
}
#toolButtonGeometry:hover
{
    image: url(:/Graphics/Images/GeometrySmallHover.png);
}
#toolButtonGrid
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/GridSmall.png);
}
#toolButtonGrid:hover
{
    image: url(:/Graphics/Images/GridSmallHover.png);
}
#toolButtonKeyer
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/KeyerSmall.png);
}
#toolButtonKeyer:hover
{
    image: url(:/Graphics/Images/KeyerSmallHover.png);
}
#toolButtonLevels
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/LevelsSmall.png);
}
#toolButtonLevels:hover
{
    image: url(:/Graphics/Images/LevelsSmallHover.png);
}
#toolButtonOpacity
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/OpacitySmall.png);
}
#toolButtonOpacity:hover
{
    image: url(:/Graphics/Images/OpacitySmallHover.png);
}
#toolButtonSaturation
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/SaturationSmall.png);
}
#toolButtonSaturation:hover
{
    image: url(:/Graphics/Images/SaturationSmallHover.png);
}
#toolButtonVolume
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/VolumeSmall.png);
}
#toolButtonVolume:hover
{
    image: url(:/Graphics/Images/VolumeSmallHover.png);
}
#toolButtonCommit
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CommitSmall.png);
}
#toolButtonCommit:hover
{
    image: url(:/Graphics/Images/CommitSmallHover.png);
}
#toolButtonSolidColor
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/SolidColorSmall.png);
}
#toolButtonSolidColor:hover
{
    image: url(:/Graphics/Images/SolidColorSmallHover.png);
}
#toolButtonGpiOutput
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/GpiOutputSmall.png);
}
#toolButtonGpiOutput:hover
{
    image: url(:/Graphics/Images/GpiOutputSmallHover.png);
}
#toolButtonFileRecorder
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/FileRecorderSmall.png);
}
#toolButtonFileRecorder:hover
{
    image: url(:/Graphics/Images/FileRecorderSmallHover.png);
}
#toolButtonDeckLinkInput
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/DeckLinkProducerSmall.png);
}
#toolButtonDeckLinkInput:hover
{
    image: url(:/Graphics/Images/DeckLinkProducerSmallHover.png);
}
#toolButtonChannelSnapshot
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/SnapshotSmall.png);
}
#toolButtonChannelSnapshot:hover
{
    image: url(:/Graphics/Images/SnapshotSmallHover.png);
}
#toolButtonClearOutput
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/ClearSmall.png);
}
#toolButtonClearOutput:hover
{
    image: url(:/Graphics/Images/ClearSmallHover.png);
}
#toolButtonCustomCommand
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/CustomCommandSmall.png);
}
#toolButtonCustomCommand:hover
{
    image: url(:/Graphics/Images/CustomCommandSmallHover.png);
}

/*
 * AddDeviceDialog
 */
#toolButtonTestConnection
{
    image: url(:/Graphics/Images/TestConnection.png);
}

/*
 * SettingsDialog
 */
#lineStartup, #lineAppearance, #lineLibrary, #lineRundown, #lineGpiDeviceSetup, #lineGpiInputsSetup, #lineGpiOutputsSetup
{
    background-color: rgba(42, 42, 42, 255);
}
#toolButtonAddDevice, #toolButtonAddTemplateData
{
    image: url(:/Graphics/Images/Add.png);
}
#toolButtonAddDevice:hover, #toolButtonAddTemplateData:hover
{
    image: url(:/Graphics/Images/AddHover.png);
}
#toolButtonRemoveDevice, #toolButtonRemoveTemplateData
{
    image: url(:/Graphics/Images/Remove.png);
}
#toolButtonRemoveDevice:hover, #toolButtonRemoveTemplateData:hover
{
    image: url(:/Graphics/Images/RemoveHover.png);
}

/*
 * LibraryWidget
 */
#treeWidgetAudio, #treeWidgetImage, #treeWidgetTemplate, #treeWidgetVideo, #treeWidgetData, #treeWidgetPreset
{
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}

/*
 * InspectorWidget
 */
#treeWidgetInspector
{
    background-color: rgba(60, 60, 60, 255);
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}
#treeWidgetInspector::branch:closed:has-children:has-siblings, #treeWidgetInspector::branch:has-children:!has-siblings:closed
{
    background-color: rgba(55, 55, 55, 255);
    image: url(:/Graphics/Images/ArrowRight.png);
}
#treeWidgetInspector::branch:open:has-children:has-siblings, #treeWidgetInspector::branch:open:has-children:!has-siblings
{
    background-color: rgba(55, 55, 55, 255);
    image: url(:/Graphics/Images/ArrowDown.png);
}
#treeWidgetInspector QLabel
{
    color: rgba(190, 190, 190, 255);
}
#toolButtonMasterVolume
{
    image: url(:/Graphics/Images/MasterVolumeOn.png);
    padding: 4px;
}

/*
 * InspectorSolidColorWidget
 */
#toolButtonColor
{
    image: url(:/Graphics/Images/SolidColorSmall.png);
}

/*
 * InspectorTemplateWidget
 */
#treeWidgetTemplateData
{
    alternate-background-color: rgba(60, 60, 60, 255);
}

/*
 * Rundown items
 */
#frameItem, #frameStatus
{
    background-color: transparent;
    border-radius: 0px;
}
#labelThumbnail
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#labelLabel, #labelNoteField
{
    font-size: 13px;
}
#labelChannel, #labelVideolayer, #labelDelay, #labelFlashlayer, #labelDevice, #labelGpiOutputPort
{
    color: rgba(190, 190, 190, 255);
}

/*
 * RundownWidget
 */
#toolButtonRundownDropdown
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/Dropdown.png);
}
#toolButtonRundownDropdown::hover
{
    image: url(:/Graphics/Images/DropdownHover.png);
}

#tabWidgetRundown::pane
{
    border-width: 0px;

    position: absolute;
    top: 0px;
}
#tabWidgetRundown QTabBar::tab
{
    border-bottom-width: 0px;
}
#tabWidgetRundown QTabBar::tab:selected
{
    padding-bottom: 3px;
}

#treeWidgetRundown
{
    background-color: rgba(64, 64, 64, 255);
    border-top-left-radius: 0px;
}
#treeWidgetRundown::item:hover
{
    background-color: transparent;
}
#treeWidgetRundown::item:hover:selected
{
    background-color: rgba(80, 80, 80, 255);
}
#treeWidgetRundown::branch
{
    background-color: transparent;
}
#treeWidgetRundown::branch:!has-children:!has-siblings:adjoins-item
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings, QTreeWidget::branch:has-children:!has-siblings:closed
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings:hover, QTreeWidget::branch:has-children:!has-siblings:closed:hover
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings, QTreeWidget::branch:open:has-children:!has-siblings
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings:hover, QTreeWidget::branch:open:has-children:!has-siblings:hover
{
    background-color: transparent;
}

/*
 * PreviewWidget
 */
#pagePreview
{
    background-color: rgba(60, 60, 60, 255);
}
#labelPreview
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#toolButtonPreviewAlpha
{
    image: url(:/Graphics/Images/PreviewAlpha.png);
}
#toolButtonPreviewAlpha:hover
{
    image: url(:/Graphics/Images/PreviewAlphaHover.png);
}
