/*
 * MainWindow
 */
#MainWindow > #centralWidget
{
    background-color: rgba(64, 64, 64, 255);
    border-bottom-color: rgba(42, 42, 42, 255);
    border-bottom-width: 1px;
    border-radius: 0px;
}

/*
 * SettingsDialog
 */
#lineStartup, #lineAppearance, #lineLibrary, #lineRundown, #lineGpiDeviceSetup, #lineGpiInputsSetup, #lineGpiOutputsSetup
{
    background-color: rgba(42, 42, 42, 255);
}

/*
 * LibraryWidget
 */
#treeWidgetAudio, #treeWidgetImage, #treeWidgetTemplate, #treeWidgetVideo, #treeWidgetData
{
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}

/*
 * InspectorWidget
 */
#treeWidgetInspector
{
    background-color: rgba(60, 60, 60, 255);
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}
#treeWidgetInspector::item:hover
{
    background-color: rgba(60, 60, 60, 255);
}
#treeWidgetInspector QLabel
{
    color: rgba(190, 190, 190, 255);
}

/*
 * Rundown items
 */
#frameItem, #frameStatus
{
    background-color: transparent;
    border-radius: 0px;
}
#labelThumbnail
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#labelLabel, #labelNoteField
{
    font-size: 13px;
}
#labelChannel, #labelVideolayer, #labelDelay, #labelFlashlayer, #labelDevice, #labelGpiOutputPort
{
    color: rgba(190, 190, 190, 255);
}

/*
 * RundownWidget
 */
#toolButtonRundownDropdown
{
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
}

#tabWidgetRundown::pane
{
    border-width: 0px;
    position: absolute;
    top: 0px;
}
#tabWidgetRundown::tab:only-one
{
    border-bottom-width: 1px;
}

#treeWidgetRundown
{
    background-color: rgba(64, 64, 64, 255);
    border-top-left-radius: 0px;
}
#treeWidgetRundown::item:hover
{
    background-color: transparent;
}
#treeWidgetRundown::item:hover:selected
{
    background-color: rgba(80, 80, 80, 255);
}
#treeWidgetRundown::branch
{
    background-color: transparent;
}
#treeWidgetRundown::branch:!has-children:!has-siblings:adjoins-item
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings, QTreeWidget::branch:has-children:!has-siblings:closed
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings:hover, QTreeWidget::branch:has-children:!has-siblings:closed:hover
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings, QTreeWidget::branch:open:has-children:!has-siblings
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings:hover, QTreeWidget::branch:open:has-children:!has-siblings:hover
{
    background-color: transparent;
}

/*
 * PreviewWidget
 */
#pagePreview
{
    background-color: rgba(60, 60, 60, 255);
}
#labelPreview
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#toolButtonPreviewAlpha
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(60, 60, 60, 255), stop:1 rgba(80, 80, 80, 255));
    padding: 0px;
}

/*
 * ClockWidget
 */
#lcdNumber
{
    color: rgba(200, 65, 65, 255);
}
#lcdNumberShadowHour
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowMinute
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowSecond
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowMillisecond
{
    color: rgba(68, 68, 68, 128);
}
