/*
 * MainWindow
 */
#MainWindow > #centralWidget
{
    background-color: rgba(64, 64, 64, 255);
    border-bottom-color: rgba(42, 42, 42, 255);
    border-bottom-width: 1px;
    border-radius: 0px;
}

/*
 * AddDeviceDialog
 */
#toolButtonTestConnection
{
    image: url(:/Graphics/Images/TestConnection.png);
}

/*
 * SettingsDialog
 */
#lineStartup, #lineAppearance, #lineLibrary, #lineRundown, #lineGpiDeviceSetup, #lineGpiInputsSetup, #lineGpiOutputsSetup
{
    background-color: rgba(42, 42, 42, 255);
}
#toolButtonAddDevice, #toolButtonAddTemplateData
{
    image: url(:/Graphics/Images/Add.png);
}
#toolButtonAddDevice:hover, #toolButtonAddTemplateData:hover
{
    image: url(:/Graphics/Images/AddHover.png);
}
#toolButtonRemoveDevice, #toolButtonRemoveTemplateData
{
    image: url(:/Graphics/Images/Remove.png);
}
#toolButtonRemoveDevice:hover, #toolButtonRemoveTemplateData:hover
{
    image: url(:/Graphics/Images/RemoveHover.png);
}

/*
 * LibraryWidget
 */
#treeWidgetAudio, #treeWidgetImage, #treeWidgetTemplate, #treeWidgetVideo, #treeWidgetData, #treeWidgetPreset
{
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}

/*
 * InspectorWidget
 */
#treeWidgetInspector
{
    background-color: rgba(60, 60, 60, 255);
    border-width: 0px;
    color: rgba(190, 190, 190, 255);
}
#treeWidgetInspector::item:hover
{
    /*background-color: rgba(60, 60, 60, 255);*/
}
#treeWidgetInspector::branch:closed:has-children:has-siblings, #treeWidgetInspector::branch:has-children:!has-siblings:closed
{
    background-color: rgba(55, 55, 55, 255);
    image: url(:/Graphics/Images/ArrowRight.png);
}
#treeWidgetInspector::branch:open:has-children:has-siblings, #treeWidgetInspector::branch:open:has-children:!has-siblings
{
    background-color: rgba(55, 55, 55, 255);
    image: url(:/Graphics/Images/ArrowDown.png);
}
#treeWidgetInspector QLabel
{
    color: rgba(190, 190, 190, 255);
}

#toolButtonMasterVolume
{
    image: url(:/Graphics/Images/MasterVolumeOn.png);
    padding: 4px;
}

/*
 * InspectorColorProducerWidget
 */
#toolButtonColor
{
    image: url(:/Graphics/Images/SolidColorSmall.png);
}

/*
 * Rundown items
 */
#frameItem, #frameStatus
{
    background-color: transparent;
    border-radius: 0px;
}
#labelThumbnail
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#labelLabel, #labelNoteField
{
    font-size: 13px;
}
#labelChannel, #labelVideolayer, #labelDelay, #labelFlashlayer, #labelDevice, #labelGpiOutputPort
{
    color: rgba(190, 190, 190, 255);
}

/*
 * RundownWidget
 */
#toolButtonRundownDropdown
{
    background-color: transparent;
    border-width: 0px;
    image: url(:/Graphics/Images/Dropdown.png);
}
#toolButtonRundownDropdown::hover
{
    image: url(:/Graphics/Images/DropdownHover.png);
}

#tabWidgetRundown::pane
{
    border-width: 0px;

    position: absolute;
    top: 0px;
}
#tabWidgetRundown QTabBar::tab
{
    border-bottom-width: 0px;
}
#tabWidgetRundown QTabBar::tab:selected
{
    padding-bottom: 3px;
}

#treeWidgetRundown
{
    background-color: rgba(64, 64, 64, 255);
    border-top-left-radius: 0px;
}
#treeWidgetRundown::item:hover
{
    background-color: transparent;
}
#treeWidgetRundown::item:hover:selected
{
    background-color: rgba(80, 80, 80, 255);
}
#treeWidgetRundown::branch
{
    background-color: transparent;
}
#treeWidgetRundown::branch:!has-children:!has-siblings:adjoins-item
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings, QTreeWidget::branch:has-children:!has-siblings:closed
{
    background-color: transparent;
}
#treeWidgetRundown::branch:closed:has-children:has-siblings:hover, QTreeWidget::branch:has-children:!has-siblings:closed:hover
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings, QTreeWidget::branch:open:has-children:!has-siblings
{
    background-color: transparent;
}
#treeWidgetRundown::branch:open:has-children:has-siblings:hover, QTreeWidget::branch:open:has-children:!has-siblings:hover
{
    background-color: transparent;
}

/*
 * PreviewWidget
 */
#pagePreview
{
    background-color: rgba(60, 60, 60, 255);
}
#labelPreview
{
    border-width: 1px;
    image: url(:/Graphics/Images/Checkerboard.png);
}
#toolButtonPreviewAlpha
{
    image: url(:/Graphics/Images/PreviewAlpha.png);
}
#toolButtonPreviewAlpha:hover
{
    image: url(:/Graphics/Images/PreviewAlphaHover.png);
    padding: 1px;
}

/*
 * ClockWidget
 */
#lcdNumber
{
    color: rgba(200, 65, 65, 255);
}
#lcdNumberShadowHour
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowMinute
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowSecond
{
    color: rgba(68, 68, 68, 128);
}
#lcdNumberShadowMillisecond
{
    color: rgba(68, 68, 68, 128);
}
