name: Build Windows

on:
    push:
        # branches: [ "main" ]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: windows-2022

        steps:
            - uses: actions/checkout@v4
              with:
                submodules: true

            - name: Install Qt
              uses: jurplel/install-qt-action@v3
              with:
                version: 6.5.3
                cache: true
                arch: win64_msvc2019_64
                tools: 'tools_ifw tools_cmake'
                modules: 'qtwebsockets qt5compat'

            - name: Run build
              run: |
                  cd tools
                  ./build-windows.bat
              env:
                  CI: 1
                  BUILD_QT_PATH: ${{ github.workspace }}/Qt/6.5.3

            - name: Rename build
              id: "rename-build"
              shell: bash
              run: |
                  TARGET=casparcg-client-${{ github.sha }}-windows.zip
                  mv build/casparcg_client.zip "$TARGET"

                  echo "artifactname=$TARGET" >> $GITHUB_OUTPUT
                    
                  # check if a release branch, or main, or a tag
                  if [[ "${{ github.ref_name }}" == "main" || "${{ github.ref_name }}" == "2.3.x-lts" ]]
                  then
                    # Only report if we have an sftp password
                    if [ -n "${{ secrets.SFTP_PASSWORD }}" ]
                    then
                        echo "uploadname=$TARGET" >> $GITHUB_OUTPUT
                    fi
                  fi

            - uses: actions/upload-artifact@v4
              with:
                  name: upload-artifact
                  path: ${{ steps.rename-build.outputs.artifactname }}

            - name: Copy single file to remote
              uses: garygrossgarten/github-action-scp@0.9.0
              if: ${{ steps.rename-build.outputs.uploadname }}
              with:
                  local: "${{ steps.rename-build.outputs.uploadname }}"
                  remote: "${{ secrets.SFTP_ROOT }}/${{ github.ref_name }}/${{ steps.rename-build.outputs.uploadname }}"
                  host: ${{ secrets.SFTP_HOST }}
                  username: ${{ secrets.SFTP_USERNAME }}
                  password: ${{ secrets.SFTP_PASSWORD }}